body {
	background-color: #555;
}

.header_image {
	width: 200px;
	height: auto;
	vertical-align: middle;
}
.table {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	min-height: 50px;
	height: 50px;
	table-layout:fixed;
}
#result {
	display: none;
}
#new_btn {
	/*display: none;*/
}